Package: com.theraspiguy.ultimatepack
Name: The Ultimate Pack
Version: 1.0
Architecture: iphoneos-arm
Description: This pack includes ALL of the Team Instinct/Mystic/Valor boot logos, including the White Backgrounds AND the iPhone 5/5c/5s versions.
Depiction: 
Homepage: http://theraspiguy.github.io
Maintainer: TheRasPiGuy
Author: TheRasPiGuy
Section: Boot Logos
