Package: com.theraspiguy.valorwhitebootlogo
Name: Team Instinct White Boot Logo
Version: 1.0
Architecture: iphoneos-arm
Description: This boot logo is the same as the original Team Valor boot logo, but instead of the black background, it has a white background.
Depiction: 
Homepage: http://theraspiguy.github.io
Maintainer: TheRasPiGuy
Author: TheRasPiGuy
Section: Boot Logos
