Package: com.theraspiguy.handdrawn
Name: Hand Drawn
Version: 1.0
Architecture: iphoneos-arm
Description: Hand Drawn is a theme that includes Hand Drawn Icons (NOT DRAWN BY ME). Credit for the icons goes to Fast Icon Design on iconarchive.com
Depiction: 
Homepage: http://theraspiguy.github.io
Maintainer: TheRasPiGuy
Author: TheRasPiGuy
Section: Themes
