Package: com.theraspiguy.mysticbootlogo
Name: Team Mystic Boot Logo
Version: 1.0
Architecture: iphoneos-arm
Description: This boot logo is the same as the Team Instinct boot logo, but Team Mystic. Again, this boot logo is made using BootGIF, but the GIF is made by /u/terkoiz
Depiction: 
Homepage: http://theraspiguy.github.io
Maintainer: TheRasPiGuy
Author: TheRasPiGuy
Section: Boot Logos
