Package: com.theraspiguy.bootlogotrio5
Name: The White Boot Logo Trio
Version: 1.0
Architecture: iphoneos-arm
Description: This pack is the exact same as the original Boot Logo Trio, but for the iPhone 5/5c/5s.
Depiction: 
Homepage: http://theraspiguy.github.io
Maintainer: TheRasPiGuy
Author: TheRasPiGuy
Section: Boot Logos
