Package: com.theraspiguy.bootlogotriowhite
Name: The White Boot Logo Trio
Version: 1.0
Architecture: iphoneos-arm
Description: This pack is the exact same as the original Boot Logo Trio, but with the white backgrounds.
Depiction: 
Homepage: http://theraspiguy.github.io
Maintainer: TheRasPiGuy
Author: TheRasPiGuy
Section: Boot Logos
