Package: com.theraspiguy.glitched
Name: Glitched Boot Logo
Version: 1.0
Architecture: iphoneos-arm
Description: This boot logo was made using BootGIF, as always, and I have NO idea who made the gif, but I found it on Google, so, yeah.
Depiction: 
Homepage: http://theraspiguy.github.io
Maintainer: TheRasPiGuy
Author: TheRasPiGuy
Section: Boot Logos
