Package: com.TheRasPiGuy.ControlCmds
Name: ControlCmds
Version: 1.0
Architecture: iphoneos-arm
Depends: libactivator
Description: Adds Cmds to control this device.
Maintainer: TheRasPiGuy
Author: TheRasPiGuy
Section: Tweaks
Installed-Size: 947
