Package: com.theraspiguy.bootlogotrio
Name: The Boot Logo Trio
Version: 1.0
Architecture: iphoneos-arm
Description: For those who are lazy/can't decide which team, I made a package that basically install the Team Instinct (Yay!), Team Mystic, and the Team Valor boot logos all at once.
Depiction: 
Homepage: http://theraspiguy.github.io
Maintainer: TheRasPiGuy
Author: TheRasPiGuy
Section: Boot Logos
